<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Posts Feed</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <header>
      <h2>Posts Feed</h2>
      <div class="top-nav">
        <a th:href="@{/posts/new}">Create New Post</a>
      </div>
    </header>
    <div th:if="${posts.isEmpty()}">
      <p>No posts.</p>
    </div>
    <div th:each="post : ${posts}" class="post-card">
      <h3 th:text="${post.title}">Post Title</h3>
      <p th:text="${post.content}">Content</p>
      <p class="meta">
        Author: <span th:text="${post.author.username}">Author</span><br>
        Date: <span th:text="${#temporals.format(post.createdAt, 'MM.dd.yyyy HH:mm')}">Created Date</span>
      </p>
      <p>
        <a th:href="@{'/posts/edit/' + ${post.id}}">Edit</a>&nbsp;
        <a th:href="@{'/posts/delete/' + ${post.id}}"
           onclick="return confirm('Delete post?');">Delete</a>
      </p>
    </div>
  </div>
</body>
</html>
